[Unit]
Description=MesBlocs Fastify API
After=network.target

[Service]
Type=simple
User=michel
WorkingDirectory=/opt/back/mesBlocs-api-fastify
ExecStart=/opt/nodejs/bin/node dist/server.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production
Environment=PORT=8080

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fastifyapi

[Install]
WantedBy=multi-user.target